header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  #formpub {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
  }
  
  #formsearch{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: #414140;
    color:white;
    width: 300px;
    font-family: Favorit, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  }
  

  
  .icons {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .icons li {
    margin-right: 1rem;
    margin-right: 50px;
  }
  
  .icons a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  