/* variables */
:root {
	--tumblr: #000000;
	--tumblr-offset: #45566c;
	--tool: #eee;
	--tool-inactive: rgb(150, 160, 170);
	--pic-height: 80px;
	--head: 2em;
  }
  
  /* general styles */
  *{
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s;
  }
  
  body{
	background: var(--tumblr);
	padding: 0px;
	margin: 0px;
  }
  
  /* header styles */
  .head-tools{
	padding: 10px;
	padding-top: 2px;
	text-align: right;
	font-size: var(--head);
	color: var(--tool);
	vertical-align: middle;
	line-height: var(--head);
	padding-bottom: 10px;
  }
  
  
  .tool{
	padding-right: 15px;
  }
  
  .tool:hover{
	color: var(--tool);  
  }
  
  
  .search{
	font-size: 0.5em;
	width: 150px;
	height: var(--head);
	margin: 0;
	margin-right: 15px;
	background: none;
	color: var(--tool);
	border: 2px solid var(--tool-inactive);
	border-radius: 30px;
	padding: 2px 10px 2px 10px;
	margin-right: 50px;
  }

  .search:focus{
	border: 2px solid var(--tool);
  }
  
  .inactive{
	color: var(--tool-inactive);
  }
  
  .title{
	margin-right: 10px;
	position: absolute;
	top: 5px;
	left: 15px;
	font-size: var(--head);
	color: var(--tool);
	font-weight: 800;
  }
  
  hr {
	display: block;
	border: 0;
	border-top: 2px solid var(--tumblr-offset);
	margin: 0;
	padding: 0;
  }
  
  .seenBy {
	text-align: left;
  }
  
  /* post styles */
  .posts{
	text-align: center;
  }
  
  .post{
	position: relative;
  }
  
  .profile-pic{
	border-radius: 10px;
	margin-right: 10px;
	top: 0;
	position: absolute;
	transform: translateX(calc(-1 * var(--pic-height) - 20px));
  }
  
  .post-content{
	margin: 0;
	background: var(--tool);
	width: 40%;
	text-align: left;
	display: inline-block;
	padding: 20px;
	margin-bottom: 20px;

  }



  button#fuera {
	background-color: transparent;
	border: none;
	color: #eee; /* Establece el color de la fuente a negro */
  }
  #edit-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
  }
  /* Estilos generales de los modales */
.modal {
	display: none; /* ocultamos por defecto el modal */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9999;
  }
  
  
  .modal-header h2 {
	font-size: 1.5em;
  }
  
  .modal-header button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
  }
  
  .modal-content {
	background-color: #222222;
	padding: 20px;
	margin: 10% auto;
	max-width: 600px;
  }
  
  .modal-content textarea {
	width: 100%;
	height: 200px;
	padding: 10px;
	font-size: 1.2em;
	border: none;
	box-shadow: 1px 1px 5px #222222;
	resize: none;
  }
  
  .modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
  }

  
  .modal-footer button:hover {
	background-color: #2b3d52;
  }
  
  /* Estilos específicos para el modal de nueva publicación */
  #new-post-modal {
	animation: fade-in 0.3s ease-out;
  }
  
  #new-post-modal textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.6;
  }
  
  #new-post-modal #cancel-post-button {
	background-color: #fff;
	color: #36465d;
	margin-left: 0;
  }
  
  #new-post-modal #cancel-post-button:hover {
	background-color: #f1f1f1;
  }
  
  #new-post-modal #create-post-button {
	background-color: #78c660;
	color: #fff;
	border: none;
	margin-left: auto;
  }
  
#edit-modal{
	background-color: #222222;
	width: 500px;
}
#postbtn{
	background-color: white;color: black;border-radius: 10em;font-size: 17px;padding: 1em 2em;cursor: pointer;transition: all 0.3s ease-in-out;border: 1px solid black;box-shadow: 0 0 0 0 black;
	
}
#teztarea {
	border: none;
	background-color: #222222;
	padding: 12px;
	font-size: 16px;
	color: #333;
	line-height: 1.4;
	border-radius: 4px;
	resize: vertical;
	width: 100%;
	outline: none;
	color: white;
	font-size: 22px;
	resize: none;
	font-weight: bold;
  }

  #postbtn::placeholder {
	
	font-size: 40px;
	color: gray;
	font-weight: bold;
  }
  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
 
  
.head-tools i {
	font-size: 22px;
	margin-right: 30px;
  }
#repost{
	margin-left: 15px;
	text-decoration: none;
}